.c-header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000000;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 21px;
        padding-right: 20px;
        padding-top: 14px;
        padding-bottom: 12px;
        background-color: #fff;
    }

    &__logo {
        max-width: 14.2%;
        z-index: 1000;
    }

    &__nav {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 10px;
        margin-right: 26px;
        white-space: nowrap;
        background-color: #fff;

        li {
            font-size: 1.6rem;
            color: #0080cc;
            font-weight: 400;
            text-align: center;
    
            a {
                position: relative;
                line-height: 4.5rem;
                padding: 0 20px;
    
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 20px;
                    width: 0;
                    height: 2px;
                    background-color: #0080cc;
                }
    
                &:hover {
                    &::after {
                        width: calc(100% - 40px);
                        transition: 0.3s linear;
                    }
                }
            }
    
            &:active {
                &::after {
                    width: calc(100% - 40px);
                }
            }
        }
    }

    &__icon--play {
        width: 24px;
        margin-right: 10px;
    }

    &__recruit {
        margin-top: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    
        img {
            display: inline-block;
            width: 20px;
        }

        &--container {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 35px;
        }
    }

    &__menu {    
        img {
            width: 30px;
        }
    
        &--img1 {
            display: none;
        }
    
        &--img2 {
            display: block;
        }
    
        &:active {
            &--img1 {
                display: block;
            }
        
            &--img2 {
                display: none;
            }
        }
    
    }

    &__text {
        display: inline-block;
        justify-items: center;
        font-size: 1.8rem;
        font-weight: 400;
        margin-left: 6px;
        color: #fff;
    }

    &__link {
        padding: 14px 40px 10px 34px;
        background-color: #0080cc;
        border-radius: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.3rem;
        white-space: nowrap;
    }

    &__recruit--sub {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0080cc;
        padding-top: 14px;
        padding-bottom: 10px;
        border-radius: 10px;
        position: relative;
    
        img {
            width: 27px;
            margin-left: 26px;
        }
    
        &::before {
            content: '';
            position: absolute;
            left: 8%;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('/assets/images/assignment.png');
            width: 27px;
            height: 27px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__text--sub {
        font-size: 2.4rem;
        color: #fff;
        font-weight: 500;
    }
}
