<footer class="c-footer">
    <div class="l-container">
        <div class="c-footer__inner">
            <div class="c-footer__logo">
                <a href="index.html">
                <img src="/assets/images/Group 100.png" alt="">
                </a>
            </div>
            <ul class="c-footer__nav">
                <li><a href="#about">私たちについて</a></li>
                <li><a href="#works">私たちの仕事</a></li>
                <li><a href="#career">キャリアプラン</a></li>
                <li><a href="#intaview">社員インタビュー</a></li>
                <li><a href="#company">会社情報</a></li>
            </ul>
            <div class="c-footer__recruit">
                <a class="c-footer__link" href="#recruit">
                <img src="/assets/images/assignment.png" alt="assignment_icon">
                <div class="c-footer__text">募集要項</div>
                </a>
            </div>
        </div>
        <div class="c-footer__mess">
            <div class="c-footer__mess--inner">
            <a href="#">> 株式会社ENTEXコーポレートサイト</a>
            </div>
        </div>
    </div>
    <div class="c-footer__coppy--right">© 株式会社ENTEX. All rights reserved.</div>
</footer>

<!-- JS lib -->
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/slick.min.js"></script>
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/main.js"></script>
<script src="<%- typeof basePath !== 'undefined' ? basePath : '' %>/assets/scripts/remodal.js"></script>