<header class="c-header">
    <div class="l-container">
        <div class="c-header__inner">
          <div class="c-header__logo">
            <a href="index.html">
              <img src="/assets/images/Group 100.png" alt="logo">
            </a>
          </div>
          <ul class="c-header__nav">
            <li class="c-header__nav--li">
              <img class="c-header__icon--play sp-only" src="/assets/images/play_circle_filled_white.png" alt="">
              <a href="#about">私たちについて</a>
            </li>
            <li class="c-header__nav--li">
              <img class="c-header__icon--play sp-only" src="/assets/images/play_circle_filled_white.png" alt="">
              <a href="#works">私たちの仕事</a>
            </li>
            <li class="c-header__nav--li">
              <img class="c-header__icon--play sp-only" src="/assets/images/play_circle_filled_white.png" alt="">
              <a href="#career">キャリアプラン</a>
            </li>
            <li class="c-header__nav--li">
              <img class="c-header__icon--play sp-only" src="/assets/images/play_circle_filled_white.png" alt="">
              <a href="#intaview">社員インタビュー</a>
            </li>
            <li class="c-header__nav--li">
              <img class="c-header__icon--play sp-only" src="/assets/images/play_circle_filled_white.png" alt="">
              <a href="#company">会社情報</a>
            </li>
            <div class="c-header__recruit--container sp-only">
              <div class="c-header__recruit--sub">
                <div class="c-header__text--sub">募集要項</div>
              </div>
            </div>
          </ul>
          <div class="c-header__recruit">
            <a class="c-header__link" href="#recruit">
              <img src="/assets/images/assignment.png" alt="assignment_icon">
              <div class="c-header__text">募集要項</div>
            </a>
            <div class="c-header__menu active sp-only">
              <img class="c-header__menu--img1" src="/assets/images/menu.png" alt="">
              <img class="c-header__menu--img2" src="/assets/images/menu1.png" alt="">
            </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
