@charset "utf-8";
// ---------------------------------------------------------------
//  ■Core
//  Mixinやfontの設定など
// ---------------------------------------------------------------
@import 'core/variable/**';
@import 'core/mixin/**';
// ---------------------------------------------------------------
//  ■Foundation
//  リセットCSS、NormarizeCSSなどの、すべてのベースとなるCSS
//  基本的にコードは追加しない
// ---------------------------------------------------------------
@import 'foundation/reset';
@import 'foundation/base';

// ---------------------------------------------------------------
//  ■Layout
//  パーツの配置や、ラッパーとしての幅や高さなどを決定するクラス
//  接頭辞としてl-をつける
// ---------------------------------------------------------------
@import 'layout/**';

// ---------------------------------------------------------------
//  ■object
//  ページをまたいで使われる各種パーツを定義するクラス
//  そのパーツ内で常に同様の振る舞いをするものに関してのみスタイルを定義
// ---------------------------------------------------------------
@import 'components/**';

// ---------------------------------------------------------------
//  ■Page
//  ページ個別のスタイルを定義するクラス
// ---------------------------------------------------------------
@import './page/**';

ol ul {
    list-style: none;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: '游ゴシック', Yu Gothic, YuGothic, 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
    background-repeat: no-repeat;
}

.sp-only {
    display: none;
}

.tl-only {
    display: none;
}

@media screen and (max-width: 768px) {
    .pc-only {
        display: none;
    }

    .sp-only {
        display: block;
    }
}

.l-container {
    max-width: 1200px;
    margin: 0 auto;
}

.c-show {
    display: block;
}

.c-hide {
    display: none;
}

.c-mainvisual {
    position: relative;

    &__inner {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 0;
        width: 960px;
    }

    &__image {
        height: 770px;
        overflow: hidden;
    }

    &__text {
        margin-bottom: 165px;

        p {
            width: fit-content;
            background-color: #0080cc;
            margin-bottom: 22px;
            line-height: 6.5rem;
            letter-spacing: 0.2rem;
            color: #fff;

            font: {
                size: 5rem;
                weight: 500;
            }
        }
    }

    &__content {

        font: {
            size: 2.6rem;
            weight: 500;
        }
        color: #ff5800;
        text-align: center;
        padding-top: 36px;
        padding-bottom: 20px;
        background-color: #fff;
        letter-spacing: 0.2rem;

        span {
            color: #0080cc;
        }
    }

    &__scroll {
        
        font: {
            size: 2rem;
            weight: 500;
        }
        color: #0080cc;
        position: relative;
        text-align: center;
        margin-bottom: 20px;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -120%;
            width: 2px;
            height: 30px;
            background-color: #0080cc;
        }
    }

    &__image {
        height: 770px;
        overflow: hidden;
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 6s linear;
            animation: scale01 6s infinite;
            // animation: scale02 6s infinite;
            // animation: scale03 6s infinite;
        }
    }
}    

@keyframes scale01 {
    from {
        opacity: 0;
        transform: scale(1);
    }

    to {
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes scale02 {
    from {
        opacity: 0;
        transform: translateX(120px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes scale03 {
    from {
        opacity: 0;
        transform: translateY(120px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.p-top1 {
    position: relative;
    padding-top: 75px;
    padding-bottom: 100px;

    .l-container {
        max-width: 1080px;
        margin: 0 auto;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: calc(50% + 320px);
        height: 100%;
        background-color: #0080cc;
        z-index: -10;
    }
}

.c-about {
    display: flex;
    justify-content: flex-end;

    &__text {
        max-width: 38%;
        margin-right: 50px;
        margin-top: 42px;

        h2 {
            letter-spacing: 0.25rem;
            color: #fff;
            margin-bottom: 20px;
            font: {
                size: 3.4rem;
                weight: 500;
            }            
        }

        p {
            font: {
                size: 1.6rem;
                weight: 400;
            }
            color: #fff;
            margin-bottom: 31px;
            line-height: 1.7;
            letter-spacing: -0.14rem;
        }
    }

    &__image {
        max-width: 560px;

        img {
            padding-left: 20px;
            padding-bottom: 20px;
        }
    }

    &__card {
        position: relative;
        margin-top: 24px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 20px;
            width: calc(100% - 24px);
            height: calc(100% - 20px);
            margin-top: 18px;
            border: 2px solid #fff;
            z-index: 1;
        }
    }
}

.p-top2 {
    position: relative;
    overflow: hidden;
    padding-top: 107px;

    .l-container {
        max-width: 1040px;
        margin: 0 auto;        
    }

    &::after {
        content: '';
        position: absolute;
        top: 274px;
        left: calc(50% - 80px);
        width: 100%;
        height: calc(100% - 274px);
        background-color: #eff3f5;
        z-index: -100;
        box-sizing: border-box;
    }
}

.c-work {
    &__title {        
        p {
            font-size: 1.6rem;
            text-align: center;
            margin-top: 4px;
            line-height: 1.75;
            letter-spacing: 0.05rem;
        }
    }

    &__heading {
        font-size: 3.4rem;
        font-weight: 600;
        color: #0080cc;
        text-align: center;
        letter-spacing: 0.2rem;
    }

    &__inner {
        display: flex;
        margin-top: 55px;
        margin-left: 40px;
    }

    &__image {
        max-width: 400px;
    }

    &__imageItem {
        width: 100%;

        img {
            width: 100%;
            max-width: 100%;
        }
    }

    &__text {
        margin-top: 100px;
        padding-left: 40px;
    }

    &__text1 {
        font-size: 3.4rem;
        color: #0080cc;
        letter-spacing: 0.25rem;
        font-weight: 500;
    }

    &__text2 {
        font-size: 1.6rem;
        margin-top: 5px;
        margin-bottom: 30px;
    }

    &__item {
        display: flex;
        align-items: stretch;
        margin-top: 20px;
        border: 1px solid #0080cc;
    }

    &__number {
        min-width: 55px;
        background-color: #0080cc;
        font-size: 2rem;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__txt {
        font-size: 1.8rem;
        padding: 15 0 15 24;
        color: #0080cc;
    }
}
